# update the values and rename this file as secrets.toml in .streamlit folder

[url]
public_gsheets_url_bed_loc_map = "https://docs.google.com/spreadsheets/d/xxxxxxxxxxx/edit?usp=sharing"


[apiurl]
scope = "xxxxxx"
client_id = "xxxxxx"
client_secret = "xxxxxx"
token_url = "https://xxxxxx.amazonaws.com/tst/oauth/token"
api_url = "https://xxxxxx.amazonaws.com/tst/wound/doc/info"
api3_url = "https://xxxxxx.amazonaws.com/tst/wound/doc/upload"